/* WARNING: Head section css */
body {
  background-color: #F0D9FF;
}

hr {
  border-style: dotted none none none;
  -webkit-border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 35%;
}

/* WARNING: body css */
/* WARNING: table css */
#title {
  color: green;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
