/**************TAG SELECTOR*****************/

hr {
  border-style: dotted none none none;
  -webkit-border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 35%;
}

body {
  background-color: #F0D9FF;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
img{
  background-color: red;
}

/*****************CLASS SELECTOR********************/
.loli{
  background-color: yellow;
}
/*****************ID SELECTOR********************/

#title{
  color: green;
}
